#general h2 {
  margin: 0 auto;
  text-align: center;
  padding-top: 5vmax;
}

#general h2 span {
  font-size: 23px;
}

#general p {
  position: absolute;
  font-size: 11px;
  left: 14vw;
  top:65vmax;
}

#general .divide-line {
  padding-top: 4vmax;
}

#general .chart-label {
  position: absolute;
  display: block;
  width: 5vmax;
  padding: 0 5px;
  top: 60.5vmax;
  background-color: #204a46;
  color: #fef5e4;
  text-align: center;
}

#label-time {
  left: 23.5vw;
}

#label-shape {
  left: 40.5vw;
}

#label-origin {
  left: 57.5vw;
}

#label-name {
  left: 74.5vw;
}

#chart-block {
  margin: 0 auto;
  width: 73vw;
  height: 600px;
  padding-top: 3vmax;
  padding-bottom: 16vmax;
}
