* {
  margin: 0;
  padding: 0;
  font-family: "MinionPro-semibold";
  user-select: text;
}

::selection {
  color: #fff;
  background-color: #204a46;
}

html,
body {
  height: 100%;
  width: 100%;
}

#title,
#intro,
#object,
#shape,
#general,
#sound,
#technique,
#place,
#factions {
  position: relative;
}

.divide-line {
  display: block;
  margin: 0 auto;
  width: 80vw;
}

.divide-line .ball {
  width: 0.61vw;
  height: 0.61vw;
  border-radius: 50%;
  background-color: #204a46;
  bottom: 0.22vw;
}

.divide-line .ball:nth-child(1) {
  float: left;
  position: relative;
  right: 4px;
}

.divide-line .ball:nth-child(2) {
  float: right;
  position: relative;
  left: 4px;
}

.divide-line .line {
  width: 43.5%;
  height: 0.13vw;
  background-color: #204a46;
}

.divide-line .line:nth-child(1) {
  float: left;
}
.divide-line .line:nth-child(2) {
  float: right;
}

/* 标题 */
h1,
h2,
h3 {
  font-family: 方正粗金陵;
  font-weight: lighter;
}

/* 正文 */
.main-text {
  width: 50vmax;
  margin: 2vmax auto 0;
  font-family: "MinionPro-regular";
  font-size: 1.2vmax;
}

h1 {
  font-size: 3.5vmax;
}

h2 {
  font-size: 2.5vmax;
  line-height: 2.1vmax;
}

h2 > span {
  font-family: "MinionPro-semibold";
  font-size: 1.5vmax;
}

#title {
}

#intro {
  background-color: #fef5e4;
}

#intro div h2 {
  color: #204a46;
}

#general {
}

#general h2 {
  color: #204a46;
}

#sound {
  background-color: #204a46;
}

#sound h2 {
  color: #fff;
}

#technique {
  background-color: #fef5e4;
}

#technique h2,
#technique h3 {
  color: #204a46;
}

#place h2 {
  color: #204a46;
}

#factions h2 {
  color: #204a46;
}
