#technique {
  height: 53vmax;
}

#technique h2 {
  padding-left: 10.7vmax;
  padding-top: 10vh;
}

/* 右上 */
#note-character {
  position: absolute;
  width: 8vmax;
  right: 6.4vmax;
  top: 4.3vmax;
}

/* 正文 */
#technique-intro .main-text {
  width: 29.4vmax;
  padding-left: 10.7vmax;
  /* padding-top: 2vmax; */
  margin: 1vmax 0 0;
}

/* 标题 */
#technique-intro .main-text-title {
  font-size: 1vmax;
  height: 1.5vmax;
  line-height: 1.5vmax;
  background-color: #204a46;
  color: #fef5e4;
  width: auto;
  display: inline-block;
  margin-top: 2vmax;
  margin-left: 10.7vmax;
}

/* #technique-intro .para1-title {
  top: 14.3vmax;
}

#technique-intro .para1 {
  top: 16.4vmax;
}

#technique-intro .para2-title {
  top: 30vmax;
}

#technique-intro .para2 {
  top: 32.1vmax;
} */

/* 显示框 */
#technique-frame {
  position: absolute;
  width: 38vw;
  right: 16.4vmax;
  top: 11.6vmax;
}

/* 显示内容（手） */
#technique-hand {
  position: absolute;
  /* height: 15vw; */
  width: 36vw;
  /* right: 20vw; */
  left: 44.4vmax;
  /* top: 17.85vmax; */
  top: 12.1vmax;
}

#hand-char {
  position: absolute;
  width: 4vw;
  right: 18vmax;
  top: 15vmax;
}

/* 按钮 */
#technique-buttons {
  position: absolute;
  right: 16.5vw;
  top: 35vmax;
  display: inline-block;
}

#button-tip {
  color: #a7dccc;
  position: absolute;
  left: 57vmax;
  top: 42vmax;
  font-size: 1.1vmax;
}

/* 清除浮动影响 */
#technique-buttons:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
}

#technique-buttons li {
  float: left;
  list-style-type: none;
  margin-left: 1.9vmax;
}

.circle-text {
  color: #204a46;
  font-family: 方正粗金陵;
  font-size: 1vmax;
  text-align: center;
  /* transform: translateX(1vmax); */
  margin-top: 1vmax;
}

.circle-outer {
  width: 3vmax;
  height: 3vmax;
  color: #204a46;
  font-family: 方正粗金陵;
  font-size: 1.6vmax;
  text-align: center;
  line-height: 3vmax;
  background-color: transparent;
  box-shadow: #a7dccc 0 0 0 0.2vmax;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.circle-outer:hover {
  background-color: #a7dccc;
  transform: scale(1.1);
  box-shadow: #a7dccc4c 0 0 0 0.4vmax;
}

/* .circle-inner {
  width: 3.1vmax;
  height: 3.1vmax;
  background-color: transparent;
  border-radius: 50%;
  transform: translate(0.4vmax, 0.4vmax);
}

.circle-inner > img {
  display: block;
  height: 1.6vmax;
  margin: 0 auto;
  transform: translateY(1vmax);
  position: relative;
  bottom: 0.3vmax;
} */
