*{margin: 0; padding: 0; color: #000; outline: none; font-size: 14px;}
ul{list-style-type: none}
/*
li{cursor: pointer}
*/
a{text-decoration: none;}
body{background-color: #FFF;}

/*header*/
#header{
    height: 100%; width: 160px;
    position: fixed;
    z-index: 10;
    margin: 60px;
}

#nav ul{width: 100%;}
#nav ul > li{
    height: 60px; width: 100%;
    text-align: center; line-height: 60px;
    border-bottom: 1px solid #CCC;
    transition: 0.3s;
}

#nav ul > li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

#nav ul > li:hover ul{display: block;}
#nav ul > li > ul{
    position: relative;
    left: 160px;
    top: -60px;
    display: none;
}

#nav a {
    text-decoration: none;
    color: #000;
}

/*body*/



/* footer */