*{margin: 0; padding: 0; color: #000; outline: none; font-size: 14px;}
ul{list-style-type: none}
a{text-decoration: none;}
body{
    background-color: #FFF;
}

/*header*/
#header{
    height: 100%; width: 160px;
    position: fixed;
    z-index: 10;
}

#nav ul{width: 100%;}
#nav ul > li{
    height: 60px; width: 100%;
    text-align: center; line-height: 60px;
    transition: 0.3s;
    background-color: #ccc;
}

#nav ul > li:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

#menu_group_homework:hover ul{display: block;}
#menu_group_games:hover ul{display: block;}

#nav ul > li > ul{
    position: relative;
    left: 160px;
    top: -60px;
    display: none;
}

#nav a {
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
}

/*body*/
#blackblock {
    height: 500px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}
.blockAreas {
    color: #DDD;
    background-color: #222;
    width: 30%;
}
.blockTitle {
    background-color: #666;
    font-weight: bold;
    text-align: center;
}
/* footer */