*{margin: 0; padding: 0; color: #DDD}
body{background-color: #000}
ul{list-style-type: none}

/* 加载黑幕 */
#black{
    position: fixed;
    height: 100vh; width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}
#waiting{
    position: relative;
    top: 50%; left: 50%;
    margin-top: -40px; margin-left: -125px;
    height: 80px; width: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    line-height: 80px; text-align: center;
}

/* 导航栏 */
#nav{
    width: 100%; height: 50px;
    background-color: #222;
}
#nav > *{float: left}
.fileInputButton{display: none;}
button{
    position: relative;
    top: 10px;
    outline: none;
    width: 80px; height: 30px;
    border: 1px solid #FFF; border-radius: 15px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    margin: 0 80px;
}
button:hover{
    background-color: #FFF;
    color: #000;
}
#nav > ul{
    display: inline;
}
#nav>ul>li{
    height: 50px; width: 100px;
    text-align: center; line-height: 50px;
    float: right;
    margin: 0 20px;
    transition: 0.2s;
    font-size: 14px;
    cursor: pointer;
}
#nav>ul>li:hover{
    color: #000;
    background-color: #CCC;
}

/* 显示图片的界面 */
#mainFrame{
    width: 75%; min-height: 660px;
    position: relative;
    top: 18px; left: 26px;
}
#srcImg{display: none}
#currentImgCanvas{}

/* 控制栏 */
#controlPanel{
    color: #DDD;
    position: fixed;
    top: 68px; right: 26px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 20%; height: 660px;
    font-size: 12px;
}