<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="../script/mathUtils.js"></script>
    <script>
        let a = [
            new Complex(1, 0),
            new Complex(0, 0),
            new Complex(1, 0),
            new Complex(0, 0),
            new Complex(1, 0),
            new Complex(0, 0),
            new Complex(1, 0),
            new Complex(0, 0),
            new Complex(1, 0),
            new Complex(0, 0)
        ];

        let A = new Array(a.length);

        function fft(a) {
            let n = a.length;       // n为项数

            // 遍历原序列
            for (let i = 0; i < n; i++) {
                if (i % 2 == 0) {       // 偶数项

                }else {                 // 奇数项

                }
            }
        }
    </script>
</body>
</html>