<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图像轮廓的傅里叶变换</title>
    <link rel="stylesheet" href="../style/fourier_image/style.css">
</head>
<body>
<div id="images">
    <div id="originPoint"></div>          <!-- 原图 -->
    <div id="outputPoint"></div>
</div>

<div id="dftAmplitude"></div>       <!-- 幅度谱 -->
<div id="dftPhase"></div>               <!-- 相位谱 -->

<div id="controlpane">
    <div id="paneTitle">参数设置</div>
    <div id="expand">
<!--        <div class="controlPaneElements">
            <span>信号选择：</span>
            <select name="signalTypes" id="signalTypes">
                <option value='dog1'>狗1</option>
                <option value='dog2'>狗2</option>
                <option value='dog3'>狗3</option>
                <option value='dog4'>狗4</option>
                <option value='dog5'>狗5</option>
                <option value='dog6'>狗6</option>
            </select>
        </div>-->
        <div class="controlPaneElements">
            <span>傅里叶描述子：</span>
            <span id="fourierDescriptor"></span>
        </div>
        <div class="controlPaneElements">
            <span>展开项数：</span><input id="expandNum" type="text" class="textInput">
            <button id="reduceExpandNum">减小</button>
            <button id="addExpandNum">增大</button>
        </div>
    </div>

</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/echarts.js"></script>

<script src="../script/mathUtils.js"></script>
<script src="../script/fourier_image/borderData.js"></script>
<script src="../script/fourier_image/imageChart.js"></script>          <!-- 配置图表样式 -->
<script>
    const originImageData = dogData;
    $('#expandNum').attr('value', originImageData.length);                     // 输入框默认值

    // 原信号转换成复信号
    let dogComplexData= new Array(originImageData.length);
    for (let i = 0; i < originImageData.length; i++)
        dogComplexData[i] = new Complex(originImageData[i][0], originImageData[i][1]);

    let dogComplexData_dft = dft(dogComplexData);               // 傅里叶（复数序列）
    let dogComplexData_idft = idft(dogComplexData_dft);      // 傅里叶的反傅里叶（复数序列）

    // 把反傅里叶转换回二维数组用于Echarts绘制图表
    let newDogData = new Array(originImageData.length);
    for (let i = 0; i < originImageData.length; i++) {
        newDogData[i] = new Array(2);
        newDogData[i][0] = dogComplexData_idft[i].real;
        newDogData[i][1] = dogComplexData_idft[i].imaginary;
    }

    // Echarts
    originPointOption.series.data=  originImageData;
    outputPointOption.series.data = newDogData;
    dftAmplitudeOption.series.data = getDftAmplitude(dogComplexData);
    dftPhaseOption.series.data = getDftPhase(dogComplexData);
    originPointChart.setOption(originPointOption);
    outputPointChart.setOption(outputPointOption);
    dftAmplitudeChart.setOption(dftAmplitudeOption);
    dftPhaseChart.setOption(dftPhaseOption);

    $('#fourierDescriptor').html(getFourierDescriptor(dogComplexData, 10));
    const updateNewDog = function() {                   // 根据输入框的项数刷新各图像
        let expandNum = parseInt($('#expandNum').val());       //  获取输入框项数

        // --- 调整 ---
        let removeNum = originImageData.length - expandNum;         // 需要除去的项数
        // 从大到小
        let partOfDogComplexData_dft = [].concat(dogComplexData_dft);          // 拷贝离散傅里叶频谱
        for (let i = 0; i < removeNum; i++) {
            partOfDogComplexData_dft.splice(getMinComplex(partOfDogComplexData_dft)[1], 1);
        }
//let partOfDogComplexData_dft = dogComplexData_dft.slice(0, expandNum);      // 截取前expandNum项傅里叶系数
        // --- 调整结束 ---

        dogComplexData_idft = idft(partOfDogComplexData_dft);       // 根据截取到的信号进行反变换
        newDogData = new Array(expandNum);              // 将反变换的结果转换为二维数组，用于绘制
        for (let i = 0; i < newDogData.length; i++) {
            newDogData[i] = new Array(2);
            newDogData[i][0] = dogComplexData_idft[i].real;
            newDogData[i][1] = dogComplexData_idft[i].imaginary;
        }
        outputPointOption.series.data = newDogData;         // 绘图
        outputPointChart.setOption(outputPointOption);
    };
    $('#expandNum').change(updateNewDog);

    $(document).keydown(function (event) {
        if (event.key === 'e') {$('#addExpandNum').click();}
        if (event.key === 'q') {$('#reduceExpandNum').click();}
    });

    $('#addExpandNum').click(function () {
        let temp = $('#expandNum').val();
        if (temp < originImageData.length) {
            temp++;
            $('#expandNum').val(temp);
            updateNewDog();
        }
    });
    $('#reduceExpandNum').click(function () {
        let temp = $('#expandNum').val();
        if (temp > 0) {
            temp--;
            $('#expandNum').val(temp);
            updateNewDog();
        }
    });

</script>
</body>
</html>