<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图像轮廓的傅里叶变换</title>
    <link rel="stylesheet" href="../style/fourier_image/style.css">
</head>
<body>
<div id="images">
    <div id="originPoint"></div>          <!-- 原图 -->
    <div id="outputPoint"></div>
</div>

<div id="dftAmplitude"></div>       <!-- 幅度谱 -->
<div id="dftPhase"></div>               <!-- 相位谱 -->

<div id="controlpane">
    <div id="paneTitle">参数设置</div>
    <div id="expand">
        <span>展开项数：</span><input id="expandNum" type="text" class="textInput">
    </div>

</div>

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/echarts.js"></script>

<script src="../script/mathUtils.js"></script>
<script src="../script/fourier_image/borderData.js"></script>
<script src="../script/fourier_image/imageChart.js"></script>          <!-- 配置图表样式 -->
<script>
    $('#expandNum').attr('value', dogData.length);                     // 输入框默认值
    let dogComplexData= new Array(dogData.length);              // 原来的狗子的复数表示
    for (let i = 0; i < dogData.length; i++)
        dogComplexData[i] = new Complex(dogData[i][0], dogData[i][1]);
    let dogComplexData_dft = dft(dogComplexData);               // 狗子的傅里叶（复数序列）
    let dogComplexData_idft = idft(dogComplexData_dft);      // 狗子的傅里叶的反傅里叶（复数序列）

    let newDogData = new Array(dogData.length);
    for (let i = 0; i < dogData.length; i++) {
        newDogData[i] = new Array(2);
        newDogData[i][0] = dogComplexData_idft[i].real;
        newDogData[i][1] = dogComplexData_idft[i].imaginary;
    }

    originPointOption.series.data=  dogData;
    outputPointOption.series.data = newDogData;
    dftAmplitudeOption.series.data = getDftAmplitude(dogComplexData);
    dftPhaseOption.series.data = getDftPhase(dogComplexData);

    originPointChart.setOption(originPointOption);
    outputPointChart.setOption(outputPointOption);
    dftAmplitudeChart.setOption(dftAmplitudeOption);
    dftPhaseChart.setOption(dftPhaseOption);
</script>
<script>
    const updateNewDog = function() {                   // 根据输入框的项数刷新各图像
        let expandNum = parseInt($('#expandNum').val());       //  获取输入框项数

        // --- 调整 ---
        let removeNum = dogData.length - expandNum;         // 需要除去的项数
        // 从大到小
        let partOfDogComplexData_dft = [].concat(dogComplexData_dft);          // 拷贝离散傅里叶频谱
        for (let i = 0; i < removeNum; i++) {
            partOfDogComplexData_dft.splice(getMinComplex(partOfDogComplexData_dft)[1], 1);
        }
        //let partOfDogComplexData_dft = dogComplexData_dft.slice(0, expandNum);      // 截取前expandNum项傅里叶系数
        // --- 调整结束 ---

        dogComplexData_idft = idft(partOfDogComplexData_dft);       // 根据截取到的信号进行反变换
        newDogData = new Array(expandNum);              // 将反变换的结果转换为二维数组，用于绘制
        for (let i = 0; i < newDogData.length; i++) {
            newDogData[i] = new Array(2);
            newDogData[i][0] = dogComplexData_idft[i].real;
            newDogData[i][1] = dogComplexData_idft[i].imaginary;
        }
        outputPointOption.series.data = newDogData;         // 绘图
        outputPointChart.setOption(outputPointOption);
    };
    $('#expandNum').change(updateNewDog);

    $(document).keydown(function (event) {          // 上下键 控制
        if (event.key === 'e') {
            let temp = $('#expandNum').attr('value');
            if (temp < dogData.length) {
                temp++;
                $('#expandNum').attr('value', temp);
                updateNewDog();
            }
        }
        if (event.key === 'q') {
            let temp = $('#expandNum').attr('value');
            if (temp > 0) {
                temp--;
                $('#expandNum').attr('value', temp);
                updateNewDog();
                }
        }
    });

</script>
</body>
</html>