<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenCV_LAB</title>
    <link rel="stylesheet" href="../style/opencvJS_style.css">
</head>
<body>
<div id="black"></div>
<div id="waiting">请稍等，OpenCV.js加载中...</div>

<div id="nav">
    <button onclick="document.getElementById('srcImgInputButton').click()">
        选择图片
        <input type="file" class="fileInputButton" id="srcImgInputButton" accept="image/*">
    </button>
    <ul>
        <li id="fourierTransButton">
            傅里叶变换
        </li>
        <li id="linearGrayTransButton">
            灰度变换
        </li>
        <li id="histogramTransButton">
            直方图
        </li>
    </ul>
</div>

<div id="mainFrame">
    <img src="" id="srcImg" alt="">
</div>

<div id="controlPanel">
    <p id="img_size_label">
        尺寸:&nbsp;<span id="img_size"></span>
    </p>
    <p id="img_channels_label">
        通道数:&nbsp;<span id="img_channels"></span>
    </p>
    <p id="img_depth_label">
        图像深度:&nbsp;<span id="img_depth"></span>
    </p>
    <p id="img_type_label">
        类型:&nbsp;<span id="img_type"></span>
    </p>
</div>

<div id="grayPanel">
    <p>灰度变换</p>
    <canvas id="grayChart"></canvas>
    <button>确定</button>
</div>

<div id="histogramPanel">
    <p>直方图变换</p>
    <div id="histogramChart"></div>
    <span>通道:&nbsp;</span>
    <input class="channelInput" type="radio" value=0 name="channel" checked>红
    <input class="channelInput" type="radio" value=1 name="channel">绿
    <input class="channelInput" type="radio" value=2 name="channel">蓝
    <button>确定</button>
</div>

<!-- 脚本 -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/echarts.js"></script>
<script src="../script/opencv_script.js"></script>
<script async src="../js/opencv.js" onload="onOpenCvReady()"></script>
</body>
</html>