<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OpenCV_LAB</title>
    <link rel="stylesheet" href="../style/opencvJS_style.css">
</head>
<body>
<div id="black"></div>
<div id="waiting">请稍等，OpenCV.js加载中...</div>

<div id="nav">
    <button onclick="document.getElementById('srcImgInputButton').click()">
        选择图片
        <input type="file" class="fileInputButton" id="srcImgInputButton" accept="image/*">
    </button>
    <ul>
        <li id="codingAndDecodingButton">图像编码</li>
        <li id="spatialSmoothButton">空域平滑</li>
        <li id="addNoiseButton">添加噪声</li>
        <li id="plusOrMinusButton">图像加减</li>
        <li id="binarizeButton">二值化</li>
        <li id="linearGrayTransButton">灰度变换</li>
        <li id="histogramTransButton">直方图</li>
    </ul>
</div>

<div id="mainFrame">
    <img src="" id="srcImg" alt="">
</div>

<!--<div id="controlPanel">
    <p id="img_size_label">
        尺寸:&nbsp;<span id="img_size"></span>
    </p>
    <p id="img_channels_label">
        通道数:&nbsp;<span id="img_channels"></span>
    </p>
    <p id="img_depth_label">
        图像深度:&nbsp;<span id="img_depth"></span>
    </p>
    <p id="img_type_label">
        类型:&nbsp;<span id="img_type"></span>
    </p>
</div>-->

<div id="grayPanel">
    <p class="dragBar">灰度变换</p>
    <div id="grayChart"></div>
    <label for="grayModeSelect">变换类型: </label>
    <select name="grayMode" id="grayModeSelect">
        <option value=0>线性</option>
        <option value=1>对数</option>
    </select>
    <div id="linearPart">
        原灰度范围:最小值:<input id="from_min" type="text" value=0>
        最大值:<input id="from_max" type="text" value=255><br>
        变换后灰度范围:最小值<input id="to_min" type="text" value=0>
        最大值:<input id="to_max" type="text" value=255>
    </div>
    <div id="expPart">
        <label for="para_a">参数a:</label><input id="para_a" type="text" value=100>
        <label for="para_b">参数b:</label><input id="para_b" type="text" value=0.01>
        <label for="para_c">参数c:</label><input id="para_c" type="text" value=80>
    </div>
    <button>确定</button>
</div>

<div id="histogramPanel">
    <p class="dragBar">直方图变换</p>
    <div id="histogramChart"></div>
    <label  for="histogramChannelSelect">通道:&nbsp;</label>
    <select name="channel" id="histogramChannelSelect">
        <option value="0">红</option>
        <option value="1">绿</option>
        <option value="2">蓝</option>
    </select>
    <button id="ifEqualize" type="checkbox">均衡化</button>
    <button>关闭</button>
</div>

<div id="plusOrMinusPanel">
    <p class="dragBar">图像加减</p>
    <button onclick="document.getElementById('plusOrMinusInputButton').click()">
        选择图片
        <input type="file" class="fileInputButton" id="plusOrMinusInputButton" accept="image/*">
    </button>
    <label for="plusOrMinusSelect">运算类型: </label>
    <select name="plusOrMinus" id="plusOrMinusSelect">
        <option value=0>加法</option>
        <option value=1>减法</option>
    </select>
    <img id="operationImg" alt="操作图片">
    <button>确定</button>
</div>

<div id="spacialSmoothPanel">
    <p class="dragBar">空域平滑</p>
    <div class="gadgetOpions">
        <label for="filterModeSelect">滤波类型: </label>
        <select name="filterMode" id="filterModeSelect">
            <option value=0>均值滤波</option>
            <option value=1>中值滤波</option>
        </select><br>
    </div>
    <div class="gadgetOpions">
        <label for="templetSize">模板大小: </label>
        <input id="templetSize" type="text" value=1>
    </div>
    <button>确定</button>
</div>

<div id="addNoisePanel">
    <p class="dragBar">添加噪声</p>
    <div class="gadgetOpions">
        <label for="noiseTypeSelect">噪声类型: </label>
        <select name="noiseType" id="noiseTypeSelect">
            <option value=0>椒盐噪声</option>
            <option value=1>高斯噪声</option>
        </select>
    </div>
    <div class="gadgetOpions">
        <label for="noiseIntensity">强度: </label>
        <input id="noiseIntensity" type="range" min="0" max="1" step="0.05">
    </div>
    <button>确定</button>
</div>

<div id="codingAndDecodingPanel">
    <p class="dragBar">编/解码</p>
    <div id="codingControl">
        <label for="codingAlgoSelect">编码方式: </label>
        <select name="codingAlgo" id="codingAlgoSelect">
            <option value=0>Huffman编码</option>
            <option value=1>Shannon-Fano编码</option>
            <!-- <option value=2>算术编码</option> -->
        </select><br>

        <label  for="codingChannelSelect">通道: </label>
        <select name="codingChannel" id="codingChannelSelect">
            <option value=0>红</option>
            <option value=1>绿</option>
            <option value=2>蓝</option>
        </select>
    </div>
    <div id="codingTable">
        <table></table>
    </div>
    <div id="codingInfo">
        <label for="entropy">图像信息熵:&nbsp;</label><input type="text" id="entropy" readonly><br>
        <label for="averageCodeLength">平均码字长:&nbsp;</label><input type="text" id="averageCodeLength" readonly><br>
        <label for="codingEfficiency">编码效率:&nbsp;</label><input type="text" id="codingEfficiency" readonly><br>
    </div>
    <button>关闭</button>
</div>

<div id="binarizePanel">
    <p class="dragBar">二值化</p>
    <div class="gadgetOpions">
        <label for="threshold">阈值：</label>
        <input id="threshold" type="range" min="0" max="255" step="1">
    </div>
    <button class="confirm">确定</button>
    <button class="cancel">取消</button>
</div>
<!-- 脚本 -->
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/echarts.js"></script>
<script src="../script/opencvUtils.js"></script>
<script src="../script/opencv_script.js"></script>
<script async src="../js/opencv.js" onload="onOpenCvReady()"></script>
</body>
</html>