<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>op art</title>
    <style>
        *{margin: 0; padding: 0}
        body{overflow-y: hidden}
        canvas{cursor: none}
    </style>
</head>
<body>
<script src="../js/p5.js"></script>
<script>
    // 全局变量
    let time = 0;
    let points = [];
    let circles = [];
    let backgroundLines = {
        lineGap: 30,        // 竖线间隔
        lineSpeed: 2,       // 竖线移动速度
        lineNum: Math.ceil(window.innerWidth / 10),
        lines: [],
        xs: [],
    };

    class Circle{
        constructor(x, y, radius){
            this.x = x;
            this.y = y;
            this.radius = radius;
        }

        // 计算背景竖线和圆的交点
        calcIntersection(xArray) {
            let interPointCouples = [];     // 若有交点必是两个
            for (let x of xArray) {             // 遍历每条线（x坐标）
                let pointCouple = [];
                let temp = sqrt(pow(this.radius/2, 2) - pow(x - this.x, 2));
                pointCouple.push([x, this.y + temp]);   // 下面的交点
                pointCouple.push([x, this.y - temp]);   // 上面的交点
                interPointCouples.push(pointCouple);
            }
            return interPointCouples;
        }

        draw(pointCouples) {
            //ellipse(this.x, this.y, this.radius, this.radius);

            strokeWeight(14);
            for(let i = 0; i < pointCouples.length; i++) {
                line(pointCouples[i][0][0], pointCouples[i][0][1], pointCouples[i][1][0], pointCouples[i][1][1]);
            }
        }

    }

    class BackgroundLine{
        constructor(x) {
            this.x = x;
        }

        move(step) {
            this.x = (this.x + step) % window.innerWidth;
        }

        draw() {
            line(this.x, 0, this.x, window.innerHeight);
        }
    }



    function setup() {
        createCanvas(window.innerWidth, window.innerHeight);
        frameRate(60);

        // 初始化背景竖线
        for (let i = 0; i < backgroundLines.lineNum; i++) {
            backgroundLines.lines.push(new BackgroundLine(i * backgroundLines.lineGap));
            backgroundLines.xs.push(backgroundLines.lines[i].x);
            backgroundLines.lines[i].draw();
        }
    }

    function draw() {
        time++;
        points.push([mouseX, mouseY]);
        background(255);

        // 背景竖线移动
        strokeWeight(2);
        for (let i = 0; i < backgroundLines.lineNum; i++) {
            backgroundLines.xs[i] = backgroundLines.lines[i].x = (backgroundLines.lines[i].x + backgroundLines.lineSpeed) % (backgroundLines.lineGap * backgroundLines.lineNum);
            backgroundLines.lines[i].draw();
        }

        // 初始化圆的数据
        for (let i = 0; i < points.length; i++) {
            circles[i] = new Circle(points[i][0], points[i][1], 100);
        }

        // 画圆
        for (let circle of circles) {
            let pointCouples = circle.calcIntersection(backgroundLines.xs);
            circle.draw(pointCouples);
        }

        if (points.length >= 80) points.shift();
    }

    function drawCirle(x, y, radius) {
        ellipse(x, y, radius, radius);
    }


</script>
</body>
</html>