/* nav */
#nav {
  position: fixed;
  top: 35vh;
  right: 2vmax;
  width: 6vmax;
  z-index: 10;
}

#nav-icon {
  /* transition: 0.2s; */
  z-index: 10;
  cursor: pointer;
  border-radius: 50%;
  background-image: url(../images/svg/nav_icon.svg);
  width: 6vmax;
  height: 6vmax;
}

/* #nav-icon:hover {
  transform: scale(1.1);
} */

#nav ul {
  opacity: 0;
  z-index: 1;
  padding-top: 0.5vmax;
  list-style-type: none;
  border: 2px solid #ffd244;
  border-radius: 7px;
  background-color: #fff;
  overflow: hidden;
  height: 0;
}

.split-line hr {
  width: 80%;
  margin: 1vmax auto;
  border: 0.7px solid #ffd244;
}

#nav ul li a {
  padding: 5px 0;
  top: -100px;
  display: block;
  height: auto;
  width: 83%;
  margin: 10px auto;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  /* line-height: 24px; */
  font-family: "方正粗金陵";
  border-radius: 7px;
  color: #000;
  background-color: #f4e7bd;
}

#nav ul li a:hover {
  filter: brightness(0.7);
}

#down-triangle {
  width: 0px;
  height: 0px;
  border-top: 0.4vmax solid #3d3838;
  border-left: 0.4vmax solid transparent;
  border-right: 0.4vmax solid transparent;
  border-bottom: 0.4vmax solid transparent;
  margin: 0 auto;
  position: relative;
  top: 5.2vmax;
}

.add_transform {
  transform: translateY(-0.4vmax) rotate(180deg);
  -ms-transform: translateY(-0.4vmax) rotate(180deg); /* IE9 */
  -moz-transform: translateY(-0.4vmax) rotate(180deg); /* Firefox */
  -webkit-transform: translateY(-0.4vmax) rotate(180deg); /* Safari和Chrome */
  -o-transform: translateY(-0.4vmax) rotate(180deg); /* Opera */
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out; /*Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out; /* Safari和Chrome */
  -o-transition: all 0.3s ease-in-out; /* Opera */
}
