* {
  margin: 0;
  padding: 0;
  font-family: "MinionPro-semibold";
  user-select: text;
}

::selection {
  background-color: #e2c477;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  font-family: "方正粗金陵";
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
}

h1 > span {
  font-family: "MinionPro-semibold";
}

/* 子标题 */
.subtitle {
  font-size: 2.7vmax;
  line-height: 2.1vmax;
  padding-top: 6vmax;
}

.subtitle > span {
  font-size: 1.6vmax;
}

/* 正文 */
.main-part > p {
  margin: 3vmax auto 0;
  font-size: 1.2vmax;
  width: 42vmax;
  /* padding-left: 5.5vmax; */
}

/* 分割线 */
.divide-line {
  display: block;
  margin: 0 auto;
  width: 80vw;
  padding: 3vmax 0;
}

.divide-line .ball {
  width: 0.61vw;
  height: 0.61vw;
  border-radius: 50%;
  background-color: #e2c477;
  bottom: 0.22vw;
}

.divide-line .ball:nth-child(1) {
  float: left;
  position: relative;
  right: 4px;
}

.divide-line .ball:nth-child(2) {
  float: right;
  position: relative;
  left: 4px;
}

.divide-line .line {
  width: 43.5%;
  height: 0.13vw;
  /* background-image: linear-gradient(to right, #e5cc8a, #bd9f4d); */
}

.divide-line .line:nth-child(1) {
  float: left;
  background-image: linear-gradient(to right, #bd9f4d, #e5cc8a);
}
.divide-line .line:nth-child(2) {
  float: right;
  background-image: linear-gradient(to right, #e5cc8a, #bd9f4d);
}
