#mawangdui .divide-line {
  /* padding-bottom: 5vmax; */
}

#mawangdui h1 {
  padding-top: 1vmax;
  color: #e2c477;
}

#mawangdui-chart {
  display: block;
  margin: 0 auto;
  width: 55vw;
  padding-left: 6vmax;
}
