/* #deco-circle {
  border-radius: 50%;
  border: 1.5px solid #debd65;
  width: 10vmax;
  height: 10vmax;
  position: absolute;
  transform: translateX(-50%);
  top: 4vmax;
} */

#deco-star {
  position: absolute;
  width: 2.3vmax;
  height: 3vmax;
  top: 12vh;
  left: 30vw;
}

#deco-star div:nth-child(1) {
  width: 100%;
  height: 6%;
  border-radius: 50%;
  background-color: #e2c477;
  position: relative;
  top: 53%;
}

#deco-star div:nth-child(2) {
  width: 6%;
  height: 100%;
  border-radius: 50%;
  background-color: #e2c477;
  position: relative;
  left: 47%;
}

#deco-ball {
  position: absolute;
  width: 23vmax;
  height: 23vmax;
  top: 8vh;
  left: 14vw;
  border-radius: 50%;
  background-image: url(../../images/svg/shangzhou/deco-ball.svg);
  /* background-image: linear-gradient(to right, #e5cc8a, #bfaa73d9, #8d7d55a6, #61573b7a,#3e372557,#231f153d,#0f0e0929,#0403021e, #04030219); */
}

#title {
  background-color: #131111;
}

#title h1 {
  color: #fff;
  font-size: 3.3vmax;
}

#title h1 .en {
  font-size: 2.2vmax;
}

#title p {
  position: absolute;
  color: #fff;
}

.deco-string {
  background-color: #e2c477;
}
.emblem {
  background-color: #e2c477;
}
