@charset "utf-8";

@font-face {
  font-family: "baoli";
  src: url("../font/Baoli_original.ttc");
}

@keyframes ring {
  0% {
    height: 16px;
    width: 16px;
  }
  50% {
    width: 30px;
    height: 30px;
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes center {
  50% {
    width: 16px;
    height: 16px;
    opacity: 0.8;
  }
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #333;
}

.clearfix:after {
  content: "";
  line-height: 0;
  height: 0;
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both;
}

.cover {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #ceaa60 url(../img/clip.gif) no-repeat center / auto 80%;
  z-index: 99999;
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  overflow: hidden;
}

.box {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
  /*transition: transform 1s ease;*/
}
.box span {
  padding: 20px;
  color: #fff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.part {
  position: absolute;
  opacity: 0;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.part:hover {
  opacity: 1;
}

.part:nth-child(2) {
  left: 0.6%;
  top: 50%;
  width: 4.8%;
  height: 24%;
}

.part:nth-child(3) {
  left: 2.1%;
  top: 35%;
  width: 4.1%;
  height: 16%;
}

.part:nth-child(4) {
  left: 6%;
  top: 25%;
  width: 3%;
  height: 17%;
}

.part:nth-child(5) {
  left: 14.6%;
  top: 44%;
  width: 3.7%;
  height: 26%;
}

.part:nth-child(6) {
  left: 18.3%;
  top: 48%;
  width: 4.6%;
  height: 26%;
}

.part:nth-child(7) {
  left: 23%;
  top: 34%;
  width: 4.1%;
  height: 23%;
}

.part:nth-child(8) {
  left: 26.6%;
  top: 70%;
  width: 6%;
  height: 31%;
}

.part:nth-child(9) {
  left: 30.5%;
  top: 23%;
  width: 3.5%;
  height: 19%;
}

.part:nth-child(10) {
  left: 32.6%;
  top: 37%;
  width: 4.2%;
  height: 22%;
}

.part:nth-child(11) {
  left: 33.2%;
  top: 66%;
  width: 6%;
  height: 29%;
}

.part:nth-child(12) {
  left: 36.8%;
  top: 33%;
  width: 4.4%;
  height: 22%;
}

.part:nth-child(13) {
  left: 39.5%;
  top: 52%;
  width: 4.8%;
  height: 22%;
}

/*.part:nth-child(14){
	left:46%;
	top:48%;
	width:4.4%;
	height:22%;
	display: none;
}*/

.part:nth-child(14) {
  left: 47.3%;
  top: 35%;
  width: 4.6%;
  height: 28%;
}

.part:nth-child(15) {
  left: 49%;
  bottom: 0;
  width: 5.7%;
  height: 35%;
}

.part:nth-child(16) {
  left: 54.7%;
  top: 29%;
  width: 4.1%;
  height: 19%;
}

.part:nth-child(17) {
  left: 55.1%;
  top: 65%;
  width: 5.5%;
  height: 30%;
}

.part:nth-child(18) {
  left: 56.5%;
  top: 41%;
  width: 4.8%;
  height: 22%;
}

.part:nth-child(19) {
  left: 61.7%;
  top: 50%;
  width: 4.5%;
  height: 24.5%;
}

.part:nth-child(20) {
  left: 63.6%;
  top: 29%;
  width: 4.1%;
  height: 16%;
}

.part:nth-child(21) {
  left: 66.3%;
  top: 42%;
  width: 3.6%;
  height: 30%;
}

.part:nth-child(22) {
  left: 69.5%;
  top: 22%;
  width: 3.6%;
  height: 22%;
}

.part:nth-child(23) {
  left: 72.7%;
  top: 18%;
  width: 1.9%;
  height: 21%;
}

.part:nth-child(24) {
  left: 73.5%;
  top: 32%;
  width: 3.9%;
  height: 24%;
}

.part:nth-child(25) {
  left: 77.2%;
  top: 27%;
  width: 2.1%;
  height: 22%;
}

.part:nth-child(26) {
  left: 76%;
  top: 56%;
  width: 5.6%;
  height: 30%;
}

.part:nth-child(27) {
  left: 81.5%;
  top: 52%;
  width: 5.6%;
  height: 34%;
}
.part:nth-child(28) {
  left: 12.9%;
  top: 23%;
  width: 3.4%;
  height: 21%;
}
.part:nth-child(29) {
  left: 41.6%;
  top: 26%;
  width: 3.5%;
  height: 12%;
}

.part:nth-child(30) {
  left: 42.5%;
  top: 33%;
  width: 3.9%;
  height: 18%;
}
.part:nth-child(31) {
  left: 77.5%;
  top: 70%;
  width: 6.7%;
  height: 30%;
}
.part:nth-child(32) {
  left: 85%;
  top: 37%;
  width: 4.8%;
  height: 28%;
}
.part:nth-child(33) {
  left: 88.3%;
  top: 59%;
  width: 4%;
  height: 20%;
}
.part:nth-child(34) {
  left: 87.8%;
  top: 69%;
  width: 3.8%;
  height: 31%;
}
.part:nth-child(35) {
  left: 92.5%;
  top: 57%;
  width: 3.6%;
  height: 28%;
}

.part:nth-child(36) {
  left: 0.6%;
  top: 76%;
  width: 4.8%;
  height: 24%;
}
.part:nth-child(37) {
  left: 18.3%;
  top: 69%;
  width: 4.6%;
  height: 25%;
}
.part:nth-child(38) {
  left: 39.4%;
  top: 68%;
  width: 4.7%;
  height: 18%;
}
.part:nth-child(39) {
  left: 47.3%;
  top: 60%;
  width: 1.8%;
  height: 19%;
}
.part:nth-child(40) {
  left: 61.7%;
  top: 65%;
  width: 4.5%;
  height: 24.5%;
}
.part:nth-child(41) {
  left: 11%;
  top: 20%;
  width: 1.5%;
  height: 17%;
}

.part:nth-child(42) {
  left: 18.8%;
  top: 23%;
  width: 1.5%;
  height: 17%;
}

.part:nth-child(43) {
  left: 27.3%;
  top: 27%;
  width: 1.3%;
  height: 15%;
}
.part:nth-child(44) {
  left: 29.3%;
  top: 35%;
  width: 1.2%;
  height: 15%;
}

.part:nth-child(45) {
  left: 34%;
  top: 22%;
  width: 1.2%;
  height: 15%;
}
.part:nth-child(46) {
  left: 35.3%;
  top: 17%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(47) {
  left: 60%;
  top: 24%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(48) {
  left: 62%;
  top: 21%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(49) {
  left: 75%;
  top: 18%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(50) {
  left: 80%;
  top: 15%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(51) {
  left: 81.1%;
  top: 23%;
  width: 1.3%;
  height: 15%;
}

.part:nth-child(52) {
  left: 89.4%;
  top: 22%;
  width: 1.3%;
  height: 15%;
}

.box img {
  display: block;
  height: 100%;
}

.control {
  height: 50px;
  width: 100%;
  position: absolute;
  left: 20px;

  bottom: 20px;
}

.control span {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: url(../img/info.png) no-repeat center / 100%;
  margin-right: 10px;
  position: relative;
}

.control span:nth-child(2) {
  background-image: url(../img/sound_icon.png);
}

.control span:nth-child(3) {
  background-image: url(../img/zoom_out_icon.png);
}

.control span:nth-child(4) {
  background-image: url(../img/zoom_in_icon.png);
}
.control span:nth-child(5) {
  background-image: url(../img/stop.png);
}
.control span:nth-child(6) {
  background-image: url(../img/play.png);
}

.control span.on:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  position: absolute;
  background: #fff;
  transform: rotate(-45deg);
  top: 45%;
}

.info {
  position: relative;

  color: #fff;
}

/* 标签样式 */
.label {
  position: absolute;
  width: 26px;
  font-size: 20px;
  text-align: center;
  font-family: "baoli";
  background-color: #ab8c39;
  color: #342112;
  line-height: 20px;
  cursor: pointer;
}

.triangle {
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.label-up > .triangle {
  border-top: 4px solid transparent;
  border-bottom: 4px solid #ab8c39;
  margin-top: -8px;
}

.label-up > .outer {
  margin-bottom: 1px;
}

.label-down > .triangle {
  border-top: 4px solid #ab8c39;
  border-bottom: 4px solid transparent;
  margin-bottom: -8px;
  position: relative;
}

.label-down > .outer {
  margin-top: 1px;
}

.outer,
.inner {
  background-color: #342112;
  width: 100%;
}

.outer {
  height: 1px;
}

.inner {
  height: 10px;
}
/* 
.label:nth-child(1) {
  left: 0.6%;
  top: 50%;
}

.label:nth-child(2) {
  left: 0.6%;
  top: 50%;
}

.label:nth-child(3) {
  left: 2.1%;
  top: 35%;
}

.label:nth-child(4) {
  left: 6%;
  top: 25%;
}

.label:nth-child(5) {
  left: 14.6%;
  top: 44%;
}

.label:nth-child(6) {
  left: 18.3%;
  top: 48%;
}

.label:nth-child(7) {
  left: 23%;
  top: 34%;
}

.label:nth-child(8) {
  left: 26.6%;
  top: 70%;
}

.label:nth-child(9) {
  left: 30.5%;
  top: 23%;
}

.label:nth-child(10) {
  left: 32.6%;
  top: 37%;
}

.label:nth-child(11) {
  left: 33.2%;
  top: 66%;
}

.label:nth-child(12) {
  left: 36.8%;
  top: 33%;
}

.label:nth-child(13) {
  left: 39.5%;
  top: 52%;
}

.label:nth-child(14) {
  left: 47.3%;
  top: 35%;
}

.label:nth-child(15) {
  left: 49%;
  bottom: 0;
}

.label:nth-child(16) {
  left: 54.7%;
  top: 29%;
}

.label:nth-child(17) {
  left: 55.1%;
  top: 65%;
}

.label:nth-child(18) {
  left: 56.5%;
  top: 41%;
}

.label:nth-child(19) {
  left: 61.7%;
  top: 50%;
}

.label:nth-child(20) {
  left: 63.6%;
  top: 29%;
}

.label:nth-child(21) {
  left: 66.3%;
  top: 42%;
}

.label:nth-child(22) {
  left: 69.5%;
  top: 22%;
}

.label:nth-child(23) {
  left: 72.7%;
  top: 18%;
}

.label:nth-child(24) {
  left: 73.5%;
  top: 32%;
}

.label:nth-child(25) {
  left: 77.2%;
  top: 27%;
}

.label:nth-child(26) {
  left: 76%;
  top: 56%;
}

.label:nth-child(27) {
  left: 81.5%;
  top: 52%;
}
.label:nth-child(28) {
  left: 12.9%;
  top: 23%;
}
.label:nth-child(29) {
  left: 41.6%;
  top: 26%;
}

.label:nth-child(30) {
  left: 42.5%;
  top: 33%;
}
.label:nth-child(31) {
  left: 77.5%;
  top: 70%;
}
.label:nth-child(32) {
  left: 85%;
  top: 37%;
}
.label:nth-child(33) {
  left: 88.3%;
  top: 59%;
}
.label:nth-child(34) {
  left: 87.8%;
  top: 69%;
}
.label:nth-child(35) {
  left: 92.5%;
  top: 57%;
}

.label:nth-child(36) {
  left: 0.6%;
  top: 76%;
}
.label:nth-child(37) {
  left: 18.3%;
  top: 69%;
}
.label:nth-child(38) {
  left: 39.4%;
  top: 68%;
}
.label:nth-child(39) {
  left: 47.3%;
  top: 60%;
} */

/* 光点 */
.highlight {
  position: absolute;
  top: 300px;
  left: 300px;
  display: block;
  opacity: 1;
}

.ring {
  position: relative;
}
.ring:after {
  position: absolute;
  height: 18px;
  width: 18px;
  transform: translate(-50%, -50%);
  content: "";
  border-radius: 50%;
  border: 0.1vmax solid #fff;
  animation: ring 2s linear infinite;
}

.center {
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  cursor: pointer;
  animation: center 2s linear infinite;
}

/* 事件弹窗 */
#event-frame {
  background-color: #dbd0c9;
  width: 500px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#line-outer,
#line-inner {
  border-color: #342112;
  border-style: solid;
}

#line-outer {
  border-width: 3px;
  width: 480px;
  height: 280px;
  margin: 7px auto;
}
#line-inner {
  border-width: 1px;
  width: 460px;
  height: 260px;
  margin: 10px auto;
}

#event-en{
  color: #342112;
}
#event-cn{
  color: #82524f;
}
