* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    font-family: 苹方字体;
}

html,
body,
svg {
    height: 100%;
    width: 100%;
}

.divide-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

.label {
    position: absolute;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);

}

/* Banner */
#banner {
    padding-bottom: 100px;
}

#title {
    font-family: 方正粗金陵;
    font-size: 52px;
    font-weight: lighter;
    color: #C42C2B;
    margin-bottom: 30px;
    padding-left: 90px;
}

#intro {
    font-size: 20px;
    margin-bottom: 80px;
    padding-left: 30px;
}

#banner hr {
    border: .8px solid #000;
}

#down-arrow {
    height: 20px;
    display: block;
    margin: 10px auto 30px;
}

#semi {
    height: 220px;
    width: 220px;
    background-color: #e9c026;
    border-radius: 50%;
    margin-left: -110px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Main parts */
.parts {
    position: relative;
    /* border: 1px solid aqua; */
    padding-bottom: 100px;
}

.subtitle {
    position: absolute;
    font-family: 方正粗金陵;
    color: #c42c2c;
    font-weight: lighter;
    left: 50%;
    transform: translateX(-50%);
}