/* Employment - 如何成为礼乐局的一员 */
#part3 {
  position: relative;
  height: 53.6vmax;
}

#temp-table{
  position: absolute;
  top: 15vmax;
  left: 8vmax;
  width: 55vmax;
}

#steps {
  position: absolute;
  top: 4.3vmax;
  width: 42.9vmax;
}

#step-line {
  position: absolute;
  background-color: #c42c2c;
  height: 0.15vmax;
  width: 46.2vmax;
  top: 10.7vmax;
  left: 12.5vmax;
}

.step-circle {
  position: absolute;
  top: 10.7vmax;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.4vmax;
  height: 1.4vmax;
  color: #000;
  background-color: #e9c026;
  text-align: center;
  line-height: 1.4vmax;
  font-size: 1.2vmax;
}

/* reco */
#step-circle-reco {
  left: 12.5vmax;
}

#step-text-reco {
  left: 12.5vmax;
}

#reco-icon {
  left: 9.6vmax;
  width: 6.1vmax;
}

#reco-block {
  left: 9.6vmax;
  width: 10.4vmax;
}

#reco-detail {
  left: 9.6vmax;
  width: 10.4vmax;
}

/* test */
#step-circle-test {
  left: 24.3vmax;
}

#step-text-test {
  left: 24.3vmax;
}

#test-icon {
  left: 22.1vmax;
  width: 14.7vmax;
}

#test-block {
  left: 24.3vmax;
  width: 15vmax;
}

#test-detail {
  left: 24.3vmax;
  width: 15vmax;
}

/* review */
#step-circle-review {
  left: 44.3vmax;
}

#step-text-review {
  left: 44.3vmax;
}

#review-icon {
  left: 42.4vmax;
  width: 3.75vmax;
}

#review-icon-false {
  opacity: 0.4;
  left: 47.4vmax;
  width: 3.75vmax;
}

#review-block {
  left: 41.6vmax;
  width: 14.3vmax;
}

#review-detail {
  left: 41.6vmax;
  width: 14.3vmax;
}

/* admit */
#step-circle-admit {
  left: 58.7vmax;
}

#step-text-admit {
  left: 58.7vmax;
}

#admit-icon {
  left: 56.8vmax;
  width: 3.85vmax;
}

#admit-block {
  left: 56.8vmax;
  width: 7.4vmax;
}

#admit-detail {
  left: 56.8vmax;
  width: 7.4vmax;
}

.step-text {
  position: absolute;
  top: 12.1vmax;
  transform: translateX(-50%);
  font-size: 1.4vmax;
}

.icons {
  position: absolute;
  top: 15.7vmax;
}

.block {
  position: absolute;
  top: 38.2vmax;
  background-color: #c42c2c;
  opacity: 0.19;
  height: 0.6vmax;
  width: 90%;
}

.detail {
  position: absolute;
  top: 40.7vmax;
  font-size: 0.9vmax;
  font-family: "MinionPro-regular";
}

#clothing-figure img:nth-of-type(1) {
  position: absolute;
  display: block;
  height: 31.3vmax;
  right: 17.8vmax;
  top: 17.1vmax;
}

#clothing-figure-label {
  position: absolute;
  /* display: block; */
  width: 7.7vmax;
  height: 2vmax;
  line-height: 2vmax;
  right: 20.5vmax;
  top: 50vmax;
  background-color: #c42c2c;
  font-size: 0.8vmax;
  color: #fff;
  text-align: center;
  font-family: "MinionPro-regular";
}

/* 音符 */
#note {
  position: absolute;
  right: 18.6vmax;
  top: 19.3vmax;
  width: 2.7vmax;
}

/* pin */
.clothes-pin {
  position: absolute;
  height: 0.8vmax;
  padding-bottom: 10vmax;
}

#clothes-pin-hat {
  height: 1.08vmax;
  top: 18vmax;
  left: 77vmax;
}

#clothes-pin-shirt {
  top: 27vmax;
  left: 80vmax;
}

#clothes-pin-trousers {
  top: 40vmax;
  left: 78.3vmax;
}

#clothes-pin-shoes {
  top: 46.5vmax;
  left: 77vmax;
}
