@keyframes blink{
  50% {
    opacity: 0.5;
  }
}


/* Introduction */
#introduction {
  position: relative;
  height: 158.6vmax;
  background-image: linear-gradient(30deg, #c42c2c, #c42c2c, #c42c2c, #e2aaa9);
  color: #f2f7d9;
}

#white {
  background-color: #fff;
  width: 100%;
  height: 11.6vmax;
}

/* 本小节标题 */
#introduction h1 {
  width: 100%;
  padding-bottom: 1.4vmax;
}

/* 右边的白色花花 */
#flower1 {
  position: absolute;
  right: 0;
  width: 27.7vmax;
  top: 40vmax;
}

/* 时间轴线 */
.timeLine {
  position: absolute;
  left: 21.7vmax;
  width: 0.15vmax;
  background-color: #f2f7d9;
}

/* 时间点 */
.timePoint {
  position: absolute;
  left: 21.45vmax;
  width: 0.7vmax;
  height: 0.7vmax;
  background-color: #f2f7d9;
  border-radius: 50%;
}

/* 时间标签 */
.timeLabel {
  position: absolute;
  left: 14.3vmax;
}

/* 事件标签 */
.eventLabel {
  position: absolute;
  left: 25.7vmax;
}

/* 1829 */
.timeLabel:nth-of-type(1),
.eventLabel:nth-of-type(1) {
  top: 17.8vmax;
}

.timePoint:nth-of-type(1) {
  top: 17.8vmax;
}

.timeLine:nth-of-type(1) {
  top: 17.8vmax;
  height: 16vmax;
}

/* 1948 */
.timeLabel:nth-of-type(2),
.eventLabel:nth-of-type(2) {
  top: 33.8vmax;
}

.timePoint:nth-of-type(2) {
  top: 33.8vmax;
}

.timeLine:nth-of-type(2) {
  top: 33.8vmax;
  height: 8vmax;
}

/* 2007 */
.timeLabel:nth-of-type(3),
.eventLabel:nth-of-type(3) {
  top: 41.8vmax;
}

.timePoint:nth-of-type(3) {
  top: 41.8vmax;
}

.timeLine:nth-of-type(3) {
  top: 41.8vmax;
  height: 5vmax;
}

/* 太阳和云 */
#startTime {
  position: absolute;
  top: 50vmax;
  left: 50%;
  transform: translateX(-50%);
  color: #f2f7d9;
  height: 21.4vmax;
}

#clock {
  position: absolute;
  left: 17.4vmax;
  top: 48vmax;
  width: 8.7vmax;
  height: 8.7vmax;
  border-radius: 50%;
  background-color: #f9a262;
}

#cloud1 {
  position: absolute;
  top: 68.6vmax;
  left: 63.6vmax;
  width: 17.3vmax;
  padding-bottom: 21.4vmax;
}

/* #cloud2 {
  transform: scaleX(-1);
  position: absolute;
  top: 69.2vmax;
  right: 8.6vmax;
  width: 17.3vmax;
  padding-bottom: 21.4vmax;
} */

/*--------------------
 * 孔庙建筑 
 *--------------------*/
.archi-img {
  display: block;
  position: absolute;
}

/* 居中 */
#main-archi,
#stair {
  left: 50%;
  transform: translate(-50%);
}

/* 大成殿 */
#main-archi {
  top: 63vmax;
  width: 59.1vmax;
}

/* 台阶 */
#stair {
  top: 89vmax;
  width: 80vmax;
}

/* 左亭 */
#pavilion-left {
  width: 21.8vmax;
  top: 65.3vmax;
  left: 13.3vmax;
}

/* 右亭 */
#pavilion-right {
  width: 21.8vmax;
  top: 65.3vmax;
  right: 13.3vmax;
}

/* 左鼓 */
#drum-left {
  width: 16.7vmax;
  top: 75.87vmax;
  left: 26.6vmax;
}

/* 右鼓 */
#drum-right {
  width: 16.7vmax;
  top: 75.87vmax;
  right: 26.6vmax;
}

.label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12vmax;
  padding: 0.7vmax;
  text-align: center;
}

#archi-label {
  top: 104.7vmax;
  background-color: #fff;
  color: #c42c2c;
  font-size: 1vmax;
}

/* 建筑pin */
.archi-pin-top,
.archi-pin-bottom {
  position: absolute;
  width: 17.1vmax;
  padding-bottom: 5vmax;
}

.pin-text {
  text-align: center;
}

.pin-line {
  width: 0.06vmax;
  height: 2.4vmax;
  background-color: #f2f7d9;
}

.archi-pin-top .pin-line {
  margin: 1vmax auto 0;
}

.archi-pin-bottom .pin-line {
  margin: 0 auto 1vmax;
}

#dachengdian-pin {
  left: 41.4vmax;
  top: 58.6vmax;
}

#left-pavilion-pin {
  left: 15.7vmax;
  top: 60vmax;
}

#right-pavilion-pin {
  right: 15.7vmax;
  top: 60vmax;
}

#stair-pin {
  left: 40.3vmax;
  top: 95.6vmax;
}

#left-drum-pin {
  left: 22.9vmax;
  top: 95.6vmax;
}

#right-drum-pin {
  right: 22.9vmax;
  top: 95.6vmax;
}

/* 分隔线 */
#introduction .divide-line {
  top: 113vmax;
}

/*--------------------
 * 空间布局图 
 *--------------------*/
#plane-figure {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 120vmax;
  transform: translateX(-50%);
}

#highlight {
  position: absolute;
  left: 16.9%;
  top: 126.8vmax;
  background-color: #f2f7d9;
  width: 18.2vmax;
  height: 12.3vmax;
  opacity: 0.64;
}

#layout-label {
  top: 150vmax;
  background-color: #fff;
  color: #c42c2c;
  font-size: 1vmax;
}
