#part5 {
    height: 38.6vmax;
}

#material p {
    position: absolute;
    width: 61.6vmax;
    top: 11.4vmax;
    left: 50%;
    transform: translateX(-50%);
    font-family: "MinionPro-regular";
}

#material-list {
    position: absolute;
    top: 20vmax;
    left: 17.1vmax;
    width: 27.6vmax;
}

#material-chart {
    position: absolute;
    top: 12.9vmax;
    right: 17.1vmax;
    width: 28.6vmax;
    height: 28.6vmax;
}