#part6 {
  height: 48.6vmax;
  padding-bottom: 10vmax;
}

#temp-pattern {
  position: absolute;
  top: 11.4vmax;
  width: 80.3vmax;
  left: 50%;
  transform: translateX(-50%);
}

#part6 .divide-line {
  top: 52.9vmax;
}
