/* 标题 */
#title {
  background-color: #fff9f0;
}

#title h1 {
  color: #c42c2b;
  font-size: 3.3vmax;
  font-family: "方正粗金陵";
  font-weight: lighter;
}

#title h1 span {
  font-size: 2.2vmax;
}

.deco-string {
  background-color: #ffd244;
}

.emblem {
  background-color: #c42c2c;
}

.cloud-title {
  position: absolute;
  width: 18vmax;
}
.cloud-title:nth-of-type(1) {
  left: 12vmax;
  top: 14vmax;
}
.cloud-title:nth-of-type(2) {
  transform: scaleX(-1);
  right: 11vmax;
  bottom: 13vmax;
}
