#intro {
    position: relative;
    height: 1760px;
}

.divide-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}

#intro .divide-line:nth-of-type(1) {
    top: 60px;
}

#intro .divide-line:nth-of-type(2) {
    bottom: 60px;
}

#intro h2 {
    text-align: center;
}

#intro p {
    width: 36%;
}

#intro div img {
    display: block;
}

#object h2 {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

#object p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
}

#object img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 320px;
    width: 36%;
}

/* shape */
#shape h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 720px;
}

#shape p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 790px;
}

#shape img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 920px;
    width: 36%;
}