* {
    margin: 0;
    padding: 0;
    font-family: 苹方字体;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

#title,
#object,
#shape,
#general,
#sound,
#technique,
#place,
#factions {
    position: relative;
}

h1,
h2,
h3 {
    font-family: 方正粗金陵;
    font-weight: lighter;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}

#title {}

#intro {
    background-color: #fef5e4;
}

#intro div h2 {
    color: #204a46;

}

#general {}

#general h2 {
    color: #204a46;
}

#sound {
    background-color: #204a46;
}

#sound h2 {
    color: #FFF;
}

#technique {
    background-color: #fef5e4;
}

#technique h2,
#technique h3 {
    color: #204a46;
}

#place h2 {
    color: #204a46;
}

#factions h2 {
    color: #204a46;
}